body {
  background-image: url("cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom 10px right 10px;
  background-size: 70%;
  background-color: #333333;
  color: #ffc809;
  font-size: 400%;
  font-family: "Andale Mono", monospace;
  font-weight: bolder;
}

div {
  align-items: center;
  align-content: center;
  text-align: center;
}

input {
  background-color: #333333;
  border: 5px solid #ffc809;
  color: #ffc809;
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
}

input:focus {
  outline: none;
  border: 5px solid #ffc809;
}

input[type="text"] {
  text-transform: uppercase;
  height: 50px;
  width: 50px;
}

input[type="submit"] {
  cursor: pointer;
}

.swal-modal {
  /* background-color: rgb(255, 200, 9, 1); */
  font-family: "Andale Mono", monospace;
}

.swal-button,
.swal-button:focus,
.swal-button:hover,
.swal-button:active {
  border-radius: 0px;
  border: 0px;
  background-color: #ffc809;
  color: #333333;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 200%;
  }

  input {
    font-size: 20px;
    border: 4px solid #ffc809;
  }

  input[type="text"] {
    text-transform: uppercase;
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 150%;
  }

  input {
    font-size: 10px;
    border: 2px solid #ffc809;
  }

  input[type="text"] {
    text-transform: uppercase;
    height: 15px;
    width: 15px;
  }
}
